body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f0f5;
  margin: 20px;
  text-align: center;
}

.gameContainer {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #b9778e;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #d3a5ba;
  border-radius: 5px;
  color: #6d5a6e;
}

button {
  background-color: #e29ac1;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c77ba7;
}
